- flash.each do |name, msg|
 = content_tag :div, msg, :id => "#{name}_message"
= form_for :query, :url => root_path, :html=>{:method => :get} do |f|
 .request
  = f.label :what, "Запрос"
  = f.select :what, @axapta.methods.map{|m| [[@axapta.method(m).try(:[], "title"), m].compact.join(' '), m] }.sort_by{|i| i[1] }
  = f.submit "Задать параметры", :name => "setup"
 .rparams
  - if @query && !@query.try(:what).blank?
   - puts "index prequery_params"
   = render_cell :request_params, :display, :method => @query.try(:what), :config => @config, :input => @axapta.method(@query.try(:what))["input"], :form => f, :data => @data
.report
 - if @report
  .stats{:title=>"статистика"}
   %div Время генерации отчета: #{(@r_time * 100.0).round / 100.0 }ms
   %div Время загрузки config-файла: #{(@c_time * 100.0).round / 100.0}ms
  - if @report[:error]
   %table
    %tr
     %th Error type
     %th Message
    %tr
     %td= @report["type"]
     %td= @report["message"]
  - else
   = render_cell :report, :display, :data => @report, :config => @axapta.method(@query.what)["output"], :enums => @config["enums"]
  - if @request
   %a#toggle_request{:href=>"#"} Показать запрос
  %a#toggle_raw{:href=>"#"} Показать неформатированный ответ сервера
  - if @request
   %a#toggle_structure{:href=>"#"} Показать структуру запроса
- if @request
 %pre#raw_request
  = @request
 %pre#raw
  = @report.ya2yaml
- if @request
 %pre#raw_structure
  = @structure.ya2yaml #, :Encoding=>:Utf8, :UseBlock=>true)
:javascript
 $(document).ready(function(){
  $("select#query_what").change(function(){ $(".rparams").hide(); });
  $("#raw").hide();
  $("#raw_request").hide();
  $("#raw_structure").hide();
  $("#toggle_raw").click( function(){ $("#raw").toggle(); return false; });
  $("#toggle_request").click( function(){ $("#raw_request").toggle(); return false; });
  $("#toggle_structure").click( function(){ $("#raw_structure").toggle(); return false; });
  $("a.rm_row").click(function(){
   $(this).parents("table tr").remove();
   return false;
  });
 });

