= @form.fields_for @key do |f|
 %dl
  - puts "hashdata"
  - p @data
  - @data ||= OpenStruct.new
  - @val.each_pair do |k, v|
   %dt #{v["title"]} (#{k})
   - @data.try("#{k}=", v["default"]) if v["default"] && @data.try(k).nil?
   %dd= render_cell :"request_#{v["type"] || "string"}", :display, :form => f, :config => v, :input => v, :key => k, :val => v, :data => (@data.try(k))

