= @method
.select
 = form_for :fields, :url => root_path do |form|
  - @input.each_pair do |key, val|
   .form_line
    #{key}
    -# if val["type"] == "string"
    = render_cell :"request_#{val["type"] || "string"}", :display, :key => key, :val => val, :form => form
    =# val["type"]
