= @method
.select
 = @form.fields_for :fields, @data do |form|
  = form.hidden_field "_request_method"
  - @input.each_pair do |key, val|
   .form_line
    = form.label key, "#{val["title"] || val["description"]} (#{key})"
    = render_cell :"request_#{val["type"] || "string"}", :display, :key => key, :val => val, :form => form, :input => @input[key], :data => @data.try(key)
  = form.submit "отправить запрос"
