%div
 %span.label
  #{@config["title"] ||@key }
 - if @enums[@config["type"]].is_a? Hash
  #{@data} (#{@enums[@config["type"]].try(:[], @data)})
 - elsif @enums[@config["type"]].is_a? Array
  #{@data} ! (#{@enums[@config["type"]].index(@data)})
 - else
  #{@data} !!
