= @form.fields_for "#{@key}[]", @data do |f|
 %table
  %tr
   - @val.each_key do |k|
    %th #{@val[k]["title"]} (#{k})
  - (@data || []).each do |data|
   %tr
    %td
     = render_cell :"request_params", :display_row, :form => f, :config => @val, :input => @val, :data => data #.try(@key)
  %tr
   = render_cell :"request_params", :display_row, :form => f, :config => @val, :input => @val, :data => OpenStruct.new(@val.inject({}){|r, a| r.merge(a[0] => nil)  }) #data.try(@key)
-#  - @input.each do |row|
-#   %tr
-#    - @val["content"].each_key do |k|
-#     %td
-#      = row[k]
